<!DOCTYPE html>
<html>
    {{ partial "head.html" .}}
<body>
<div id="container">

{{- partial "header.html" . -}}

<div id="body">

    {{ block "main" . }}
    {{ .Content }}
    {{ end }}
</div>


</div>
{{- partial "footer.html" -}}

</body>
</html>