html { height: 100% }
body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    padding: 0;
    box-sizing:border-box;
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("./img/interlaced.png");
    text-align: center;
    color: rgba(0, 0, 0, 0.79);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    font-size: 16px;
    word-wrap: break-word;
    padding-bottom: 20px;
}



#container {
    min-height: 100%;
    position: relative;
}

#body {
    padding: 10px;
    padding-bottom: 60px;
    color: rgba(0, 0, 0, 0.79);
}

.footer {
    background-color: rgba(0, 0, 0, 0.88);
}

#footer {
    width: 100%;
    height: 5%;
    bottom: 0;
    margin-bottom: -3em;
}

#link {
    color: white;
}

a:link {
    color: rgb(53, 53, 107);
    text-decoration: none;
}

a:visited{
    color: rgba(0, 0, 0, 0.79);
}

a:hover{
    color: rgba(0, 0, 0, 0.79);
}

/* Dropdown Button */
.dropbtn {
    background-image: url(./img/prism.png);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #1e308e;}

.avatarMask {
    vertical-align: middle;
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

h1 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10%;
}

header {
    width: 100%;
    height: 8%;
    background-image: url("./img/prism.png");
    color: white;
}



p {
    padding: auto;
}

img {
    padding: 10px;
    max-height: 200px;
    max-width: 200px;
}


/* adjust the css for screens less than 700px (tablets)*/
@media screen and (max-width: 700px) {
    /* On screens that are less than 700px wide, make the sidebar into a topbar */
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

/* adjust the css for screens less than 400px (smartphones) */
@media screen and (max-width: 400px) {
    /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
    .sidebar a {
        text-align: center;
        float: none;
    }
}
