<div class="footer">
        <a id="link" href="https://github.com/laurenskubat"> <i class="fab fa-github-square fa-2x"></i></a> &emsp;&ensp;
        <a id="link" href="https://gitlab.com/LaurensKubat/"> <i class="fab fa-gitlab fa-2x"></i></a> &emsp;&ensp;
        <a id="link" href="https://www.linkedin.com/in/laurens-kubat/"> <i class="fab fa-linkedin fa-2x"></i></a> &ensp; &emsp;
</div>
