<header class="header">
     <a id="link" href="{{ .Site.BaseURL }}">Home</a>
     &ensp;
     <i class="dropdown">
          <button class="dropbtn">Projects</button>
          <div class="dropdown-content">
               <a href="/this_site/">This website</a>
               <!-- add a new link to the projects dropdown here <a href="#">Link 2</a> -->
          </div>
     </i>
     &ensp;
     <a id="link" href="/workexperience/" > Work experience </a>
     &ensp;
     <a id="link" href="/education/" > Education </a>
</header>