<head>
<title>
    {{ if eq .Title .Site.Title }}
        {{ .Site.Title }}
    {{ else }}
        {{ .Title }} - {{ .Site.Title }}
    {{ end }}
</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description}}{{else}}{{.Description}}{{end}}" />
    <meta name="author" content="{{ .Site.Author }}" />

    <!-- set the favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico"/>

    <!-- css, resource.get and the usage of $css is to allow for more stylesheets to be made into one -->
    {{ $style := resources.Get "css/style.css" }}
    {{ $css := slice $style | resources.Concat "style.css" | resources.Minify | resources.Fingerprint }}
    <link rel = "stylesheet" href="{{ $css.Permalink }}">

    <!-- custom css -->
    {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ . }}">
    {{ end }}

    <!-- use fontawesome for icons -->
    <script src="https://kit.fontawesome.com/1f25026c0c.js"></script>

    <!-- Polyfill for old browsers -->
    {{ `<!--[if lte IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classlist/1.1.20170427/classList.min.js"></script>
    <![endif]-->` | safeHTML }}

    {{ `<!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->` | safeHTML }}

</head>