<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
<body>
<div id="container">
    {{- partial "header.html" . -}}

    <div id="body">
        404 - page not found
    </div>
</div>
{{- partial "footer.html" -}}
</body>

</html>