<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}
<body>
<div id="container">
    {{- partial "header.html" . -}}

    <div id="body">

    <img src="/img/profielfoto.jpeg" alt="Avatar" class="avatarMask">
    <h1>
        Hello, my name is Laurens Kubat.
    </h1>
    <p>
        I am a full stack developer, computing science student at the Radboud university.
    </p>

    </div>
</div>
{{- partial "footer.html" -}}

</body>
</html>
